<li class="list-item-style">
    <div class="bookmark-item split-list" >
        <div>
            <a class="bookmark-link" href="{{url}}" target="_blank">
                <span class="fa fa-bookmark bookmark-icons hand"></span> {{ name }}
            </a>
        </div>
       <div>
           <a href="bookmarks/favorite?id={{id}}&fav={{favorite}}">
               {{#if favorite}}
                    <span class="fa fa-star edit-favorite-icons hand"></span>
               {{else}}
                  <span class="fa fa-star-o edit-favorite-icons hand" ></span>  
               {{/if}}</a>
           <a href="bookmarks/editbookmark?id={{id}}"><span class="fa fa-edit edit-favorite-icons hand"></span></a>
       </div>
    </div>
</li>
