<li class="list-item-style">
    <div class="bookmark-item split-list">
        <div>
            <a class="bookmark-link folder-text" href="/bookmarks?folderId={{id}}">
                <span class="fa fa-folder left-item bookmark-icons hand"></span> {{ name }}
            </a>
        </div>
        <div>
            <a title="Favorite" class="action-button" href="/bookmarks?folderId={{id}}"><span class="fa fa-chevron-right edit-favorite-icons hand"></span></a>
            <!--<span class="fa fa-edit edit-favorite-icons hand" onclick="App.bookmarkEdit.show({{toJSON this}})"></span>-->
            <a title="Edit" class="action-button" href="/bookmarks/editfolder?id={{id}}"><span class="fa fa-edit edit-favorite-icons hand"></span></a>
        </div>
    </div>
</li>
