<li class="list-item-style">
    <div class="bookmark-item split-list">
        <div>
            <a class="bookmark-link folder-text"
               onclick="app.bookmarkExplorer.showBookmarks('{{id}}', '{{folderId}}')">
                <span class=" icon-folder left-item bookmark-icons hand"></span> {{ name }}
            </a>
        </div>
        <div>
            <span class="icon-right-open edit-favorite-icons hand"
                  onclick="app.bookmarkExplorer.showBookmarks('{{id}}', '{{folderId}}')">
            </span>

            <span class="icon-edit edit-favorite-icons hand" onclick="app.bookmarkEdit.show(event, {{id}})"></span>
        </div>
    </div>
</li>
